*,*::after,*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.parent {
    width: 100%;
    /* display: flex; */
    flex-wrap: wrap;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;

    &:visited {
        color: inherit;
    }
}